body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

header {
  background-color: #ff69b4;
  color: white;
  padding: 20px 0;
  animation: slideInFromTop 1s ease-in-out;
}

@keyframes slideInFromTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.intro {
  margin: 20px 0;
}
.container .intro p {
  margin-top: 0.5rem;
}

.gallery {
  margin: 20px 0;
}

/* .photos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.photos img {
  max-width: 50%;
  height: 50%;
  margin: 10px;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
} */
.photos {
  display: flex;
  justify-content: space-around; /* Untuk memberi jarak antar gambar */
  flex-wrap: wrap; /* Agar gambar tetap berada di dalam container */
}

.photos img {
  flex-basis: calc(
    33.333% - 20px
  ); /* Membagi lebar container menjadi tiga bagian, kurangi dengan margin */
  max-width: 25%; /* Agar gambar tidak melebihi lebar yang dialokasikan */
  height: 50%; /* Pertahankan rasio gambar */
  margin: 10px; /* Jarak antar gambar */
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  object-fit: cover;
}

.photos img:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.rsvp {
  margin: 20px 0;
  animation: fadeInUp 1.5s ease-in-out;
}

@keyframes fadeInUp {
  from {
    transform: translateY(20%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label {
  margin-top: 10px;
}

form input {
  padding: 10px;
  margin-top: 5px;
  width: 100%;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s;
}

form input:focus {
  border-color: #ff69b4;
}

form button {
  background-color: #ff69b4;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: #ff1493;
}

footer {
  margin-top: 20px;
  color: #808080;
}

@media (max-width: 600px) {
  .photos {
    flex-direction: column;
  }

  form input,
  form button {
    width: 90%;
  }
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 300px;
  border-radius: 10px;
  text-align: center;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Audio controls */
.audio-controls {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}

.audio-controls button,
.audio-controls input {
  margin: 0 5px;
  padding: 5px;
}

/* Responsive styles for mobile */
@media (max-width: 480px) {
  .audio-controls {
    flex-direction: column;
    bottom: 10px;
    padding: 5px;
  }

  .audio-controls button,
  .audio-controls input {
    margin: 5px 0;
  }
}

.intro {
  font-size: 16px;
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

.letter {
  display: inline-block;
  opacity: 0;
  animation: animateText 5s forwards;
}

@keyframes animateText {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
